# Backend Support
PORT=5000
DATABASE_URL="postgresql://user:password@localhost:5432/screening_db?schema=public"
JWT_SECRET="super_secret_jwt_key_change_in_production"

# ML Service URLs
ML_SERVICE_URL="http://127.0.0.1:8000"

# ML Environment
ML_PORT=8000
